*.stackdump

# python
*.pyc
__pycache__
.pycache
.pytest_cache
.mypy_cache
.env
.venv

# project
/.vscode
/run/devcontainer/.env
/run/on-workspace/.claude
/run/on-workspace/.pycache
/run/on-workspace/.uv
